body{
  counter-reset: figures;
  margin:0;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

code{
  font-size: 1.2em;
}

header{
  background-color: black;
  color:white;
  margin: 0;
  text-align: center;
  width:100%;
}

@media only screen and (min-width: 1000px) {
  main{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

header h1{
  margin: 0;
}

p{
  margin: 0 8px 8px 8px;
}

div.task{
  clear:both;
  border-style: solid;
  border-width: 2px;
  margin:  8px;
  padding: 0;
}

div.task h3:before{
  content: "Aufgabe " counter(h2counter) "." counter(taskcounter) ":\0000a0";
  counter-increment: taskcounter;
}

div.hide{
  background-color: rgb(100,100,100,0.5);
  display: none;
}

h1{
  background-color: black;
  color: white;
  padding-left: 8px;
}

h2{
  background-color: rgb(51,51,51);
  color: white;
  padding-left: 8px;
  margin: 1em 0 0 0;
  counter-reset: taskcounter;
  counter-increment: h2counter;
  clear: both;
}

h3{
  border-bottom: 2px solid black;
  margin: 1em 8px 0 8px;
  clear: both;
}

h1 {
    counter-reset: h2counter;
}
h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
}
nav a:before{
  content: counter(navcounter) ".\0000a0\0000a0";
  counter-increment: navcounter;
}
nav a{
  color: white;
  text-decoration: none;
  padding: .5em;
  display: block;
}

nav a{
  text-decoration: none;
  transition: background-color .5s;
}
nav a:hover {
  background-color: rgb(22, 19, 170);
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.smallfloat{
  margin: 5px;
  float: right;
  width:30%;
}

img.inline{
  display: inline;
  height: 1em;
}


nav{
  counter-reset: navcounter;
  color: white;
  background-color: black;
  position: fixed;
  font-size:1em;
  left: 0;
  top: 0;
  color: white;
}
nav p{
  font-size: 1.5em;
  margin: 0 .25em 0 .25em;
}

#navcontent{
  display: none;
}
#navcontent p{
  font-size: 1em;
}
nav:hover{
  max-width:30%;
}
nav:hover #navcontent{
  display: block;
}

p.right {
  text-align: right;
}
pre{
  border: 5px solid black;
  margin:8px;
}
div.box{
  border: 5px solid black;
  margin: 8px;
}
div.def{
  border: 5px solid black;
  margin: 8px;
}
div.def h3:before{
  content: "Definition: ";
}
ul,ol{
  margin: 0 8px 1em 8px;
}

table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
}
table{
  margin: 8px;
}

@media print{
  iframe{
    display: none !important;
  }
  .no-print, .no-print *
    {
        display: none !important;
    }
    div.hide{
      display:block;
    }
}

footer{
  background-color: black;
  color:white;
  margin: 0;
  text-align: center;
  width:100%;
}

.videobereich {
  background-color: orange;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.videobereich iframe {
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
table.doc{
  width: 100%;
}
table.doc, table.doc td, table.doc th{
  border-style: none;
  padding: 0 1em 0 .2em;
  vertical-align: baseline;
  text-align: left;
  font-size: 1em;
}

table.doc code{
  font-size: 1.4em;
}




.array {
  table-layout: fixed ;
}
.array td {
  width: 4em ;
} 

figure{
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin-left: 0;
  margin-right: 0;
  counter-increment: figures;
}

figure img{
  width: 100%;
}

figcaption::before{
  content: "Abbildung " counter(figures) ": " ;
}